.presentation-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
}

.presentation-container {
  text-align: center;
}

.presenation-explanation-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presenation-explanation-box * {
  margin-bottom: 20px;
}

.presentation-title {
  font-size: 32px;
  font-weight: 600;
  color: rgb(183, 114, 230);
}

.presentation-pretitle {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1.2px;
}

.presentation-primary {
  padding: 30px 10vw 30px 30px;
  text-align: justify;
}

.presentation-images {
  display: flex;
}

.presentation-image-1 {
  background: url(../assets/images/menu-image2.jpeg);
  width: 270px;
  height: 370px;
  margin-left: -70px;
}

.presentation-image-2 {
  background: url(../assets/images/menu-image1.jpeg);
  width: 350px;
  margin-top: 120px;
  height: 470px;
  margin-left: 70px;
  z-index: 10;
}

.presentation-images * {
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.42);
  background-size: cover;
  background-position: center;
}

.presentation-secondary {
  padding: 30px 30px 30px 10vw;
  text-align: justify;
}

.pres-img-and-desc {
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 10vw;
  background: white;
  margin-bottom: 50px;
}

.pres-img-and-desc-2 {
  display: flex;
  flex: 1;
  align-items: center;
  margin-right: 10vw;
  background: white;
  margin-bottom: 150px;
}

#pres-first-img {
  background: url(../assets/images/menu-image1.jpeg);
  min-width: 400px;
  min-height: 500px;
  background-size: cover;
  margin-bottom: 0;
  background-position: bottom;
}

#pres-sec-img {
  background: url(../assets/images/menu-image2.jpeg);
  min-width: 400px;
  min-height: 500px;
  background-size: cover;
  margin-bottom: 0;
  background-position: bottom;
}

@media screen and (max-width: 1500px) {
  #pres-first-img,
  #pres-sec-img {
    min-height: 550px;
  }
}

@media screen and (max-width: 1200px) {
  .presentation-secondary {
    padding-left: 5vw;
  }
  .presentation-primary {
    padding-right: 5vw;
  }
  .pres-img-and-desc-2 {
    margin-right: 5vw;
  }
  .pres-img-and-desc {
    margin-left: 5vw;
  }
}

@media screen and (max-width: 1050px) {
  .pres-img-and-desc {
    flex-direction: column;
    margin: 0 5vw;
  }
  .pres-img-and-desc-2 {
    flex-direction: column-reverse;
    margin: 50px 5vw;
  }
  .presentation-secondary,
  .presentation-primary {
    padding: 15px;
  }
  #pres-first-img,
  #pres-sec-img {
    min-width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .presentation-wrapper {
    padding-top: 50px;
  }
}

