@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");

.navbar-wrapper {
  position: fixed;
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: 0.2s;
}

#hamb-title {
  font-weight: bold;
  font-size: 20px;
}

.navbar-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.navbar-items > div {
  padding: 16px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  margin: 0px 32px;
  font-weight: 600;
}

.navbar-items > div:first-child {
  background: url("../assets/images/bouquet.png");
  background-size: cover;
  height: 32px;
  width: 32px;
  opacity: 0.8;
  margin: 0 40px 0 72px;
}

.navbar-items > div:first-child::after {
  height: 0px;
}

.navbar-items > div:last-child {
  margin-right: 0px;
}

.navbar-items > div:after {
  content: "";
  display: block;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.7);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  left: 50%;
  position: absolute;
  bottom: 0;
}

.navbar-items > div:hover:after {
  width: 100%;
  left: 0;
}

.navbar-items > div > a {
  color: inherit;
  text-decoration: none;
}

.navbar-background-with-text {
  height: 80vh;
  min-height: 600px;
  background: url("../assets/images/introbg2.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.navbar-right-item {
  padding-right: 72px;
  padding-left: 24px;
}

.navbar-background-content {
  position: absolute;
  left: 10%;
  top: 30%;
}

.navbar-background-content-title {
  font-family: "Marck Script", cursive;
  font-size: 56px;
  color: rgb(183, 114, 230);
  letter-spacing: -2px;
}

.navbar-background-content-main {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 105px;
  max-width: 500px;
  line-height: 115px;
}

.navbar-scrolled {
  background-color: white;
  height: 80px;
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.233);
}

.navbar-scrolled > .navbar-items > div:first-child {
  height: 22px;
  width: 22px;
}

#hamburger {
  display: none;
  width: 0;
  font-size: 28px;
  opacity: 0.85;
  cursor: pointer;
}

#navbar-hamburger-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  background-color: white;
  z-index: 1001;
  transform: translate(-400px);
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#navbar-hamburger-menu.open {
  transform: translate(0);
}

.navbar-items-hamb {
  display: flex;
  flex-direction: column;
}

.navbar-items-hamb > div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 0 20px;
}

.navbar-items-hamb > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-items-hamb > div:first-child > img {
  opacity: 0.85;
  width: 40px;
  cursor: pointer;
}


@media screen and (max-width: 1140px) {
  .navbar-items {
    opacity: 0;
    pointer-events: none;
    width: 0;
  }
  #hamburger {
    width: auto;
    display: block;
    padding-left: 72px;
  }
  .navbar-items > div:first-child::after {
    display: none;
  }
  .navbar-background-content {
    top: 20%;
  }
  .navbar-background-with-text {
    height: 550px;
    min-height: 550px;
  }
}

@media screen and (max-width: 720px) {
  .navbar-background-content-main {
    font-size: 80px;
    line-height: 90px;
  }
  .navbar-background-with-text {
    height: 450px;
    min-height: 450px;
  }
  .navbar-wrapper {
    height: 70px !important;
  }
  .navbar-right-item {
    padding-right: 24px;
  }
  #hamburger {
    padding-left: 24px !important;
  }
  #navbar-hamburger-menu {
    width: 100vw;
    transform: translate(-100vw);
  }
}

@media screen and (max-width: 500px) {
  .navbar-background-content-main {
    font-size: 62px;
    line-height: 70px;
  }
  .navbar-background-content-title {
    font-size: 40px;
  }
}

@media screen and (max-width: 400px) {
  .navbar-background-content-main {
    font-size: 54px;
    line-height: 60px;
  }
}
